{% extends "auctions/layout.html" %}


{% block body %}
<h2>My Watchlist</h2>
{% if listings %}
<div class="row">
    {% for listing in listings %}
    <div class="col-md-4 mb-4">
        <div class="card 5-100">
            <img class="card-img-top"
src="{{ listing.image_url }}" alt="{{ listing.title }}" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5>
                    class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% else %}
    <p>Your wishlist is empty.</p>
    {% endif %}


{% endblock %}
